body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 150%;
	font-weight: 400;
	color: #4F4F4F;
}
.black-scr {
	position: fixed;
	content: '';
	pointer-events: none;
	display: block;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	opacity: 0;
	z-index: 4;
	background: rgba(0, 0, 0, 0.1);
}
body.open .black-scr {
	opacity: 1;
	pointer-events: visible;
}
body.send .black-scr {
	opacity: 1;
	z-index: 6;
	background: rgba(0, 0, 0, 0.2);
}
body.open {
	overflow-y: hidden;
}
.wrap {
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
.container {
	width: 1156px;
	margin: 0 auto;
}
li {
	display: block;
}
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}
div,
p,
ul,
li,
span,
button,
input,
a,
form,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.df {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.aic {
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.jcsb {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.jcc {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.fww {
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.aifs {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.fdc {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.jcfe {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.trans {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.ff-mon {
	font-family: 'Montserrat', sans-serif;
}
a {
	color: #333;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a:hover {
	text-decoration: underline;
}
.title-l {
	font-family: Montserrat;
	font-size: 36px;
	line-height: 120%;
	text-transform: uppercase;
	max-width: 605px;
	font-weight: 400;
}
.title-m {
	
}
.title-s {
	
}
.title-inner {
	color: #FE0002;
	text-align: center;
	margin: 0 auto;
	max-width: unset;
}
textarea:active,
textarea:focus {
	outline: none;
}
input[type=text],
input[type=submit],
textarea {
	-webkit-appearance: none;
}
input {
	border: 0;
	outline: none;
}
.menu_btn,
.header__help {
	display: none;
}
.btn {
	padding: 20px 40px;
	background: #FE0002;
	text-align: center;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}
.btn:hover {
	text-decoration: none;
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
	        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.btn__sec {
	border: 1px solid #FE0002;
	background: #fff;
	color: #FE0002;
}
.btn__sec:hover {
	color: #fff;
	background: #FE0002;
}
.center {
	text-align: center;
}
.hidden {
	display: none;
}

/* -----icons---- */
.wh24 {
	width: 24px;
	height: 24px;
}
.wh30 {
	width: 30px;
	height: 30px;
}
.wh50 {
	width: 50px;
	height: 50px;
}

/* -------pagination----- */

.pagination {
	margin-top: 40px;
	position: relative;
	z-index: 4;
}
.page-arrow {
	width: 40px;
	height: 40px;
	color: #05376C;
	background: #FFFFFF;
	border: 1px solid #05376C;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.page-arrow.prev {
	margin-right: 10px;
}
.page-numbers {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	color: #05376C;
	border: 1px solid #05376C;
}
.page-dots {
	margin-right: 10px;
	width: 40px;
	height: 40px;
	border: 1px solid #05376C;
}
.page-numbers.current,
.page-numbers:hover,
.page-arrow:hover {
	color: #fff;
	background: #05376C;
}
.page-numbers:hover,
.page-arrow:hover {
	text-decoration: none;
}
/* ---------------breadcrumbs----------------- */

.breadcrumbs__wrap {
	background: #F2F2F2;
	padding: 24px 0 21px;
}
.breadcrumbs {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 20px;
	color: #333333;
	margin-bottom: 12px;
}

.breadcrumbs__link {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 20px;
	color: #333333;
	text-decoration: none;
}
.breadcrumbs__link:hover {
	text-decoration: underline;
}

.breadcrumbs__separator {
	display: block;
	margin: 0 11px;
}

/* -----------------------------Header---------------------------- */

.header__top {
	color: #fff;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 20px;
	padding: 20px 0;
	background: -webkit-gradient(linear, left top, right top, from(#FE0002), color-stop(31.8%, #F70E39), color-stop(61.44%, #ED1E78), color-stop(84.52%, #FBAC3D), to(#8FC43E));
	background: -webkit-linear-gradient(left, #FE0002 0%, #F70E39 31.8%, #ED1E78 61.44%, #FBAC3D 84.52%, #8FC43E 100%);
	background: -moz-linear-gradient(left, #FE0002 0%, #F70E39 31.8%, #ED1E78 61.44%, #FBAC3D 84.52%, #8FC43E 100%);
	background: -o-linear-gradient(left, #FE0002 0%, #F70E39 31.8%, #ED1E78 61.44%, #FBAC3D 84.52%, #8FC43E 100%);
	background: linear-gradient(90deg, #FE0002 0%, #F70E39 31.8%, #ED1E78 61.44%, #FBAC3D 84.52%, #8FC43E 100%);
}
.header__top a {
	color: #fff;
	font-family: Montserrat;
	font-size: 14px;
	line-height: 20px;
}
.header__top-menu li:not(:last-child) {
	margin-right: 35px;
}
.header__top-menu a {
	text-decoration: underline;
}
.header__top-menu a:hover {
	text-decoration: none;
}
.header__contact:not(:last-child) {
	margin-right: 7px;
}
.header__bottom {
	padding: 10px 0 20px;
}

.header__nav li a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	font-family: Montserrat;
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	position: relative;
	overflow: hidden;
}
.header__nav li a::before {
	content: '';
	display: block;
	position: absolute;
	width: 111px;
	height: 2px;
	left: -43px;
	top: 4px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #FFFFFF;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	z-index: 2;
}
.header__nav li a:hover:before {
	left: 15px;
    top: 52px;
}
.header__nav li a:hover {
	text-decoration: none;
}
.header__nav li a span {
	position: relative;
	z-index: 3;
}
.header__nav li {
	width: 85px;
	height: 80px;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0;
	   -moz-box-flex: 1;
	    -ms-flex: 1 0;
	        flex: 1 0;
}
.header__nav li:not(:last-child) {
	margin-right: 10px;
}
.header__nav {
	margin-right: -21px;
}

/* ----main---- */

.main .slick-list {
	overflow: visible !important;
}
.main__slide {
	padding: 0 5px;
	width: 940px;
	height: 423px;
}
.main__slide {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.main__slider {
	margin: 0 -5px;
}

/* ---main news--- */

.main__news {
	padding: 72px 0 80px;
}
.main__news .title-l {
	margin-bottom: 24px;
}
.main__news-top {
	margin-bottom: 25px;
}
.main__news-cat li {
	font-family: Montserrat;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	padding: 10px 40px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.main__news-cat li:not(:last-child) {
	margin-right: 1px;
}
.main__news-cat li:hover,
.main__news-cat li.active {
	color: #fff;
	background: #FE0002;
}
.main__news-date {
	font-size: 16px;
	padding: 6px 26px 6px 12px;
	position: relative;
}
.main__news-date::before {
	content: '';
	display: block;
	position: absolute;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left top, right top, from(#FE0002), color-stop(31.8%, #F70E39), color-stop(61.44%, #ED1E78), color-stop(84.52%, #FBAC3D), to(#8FC43E));
	background: -webkit-linear-gradient(left, #FE0002 0%, #F70E39 31.8%, #ED1E78 61.44%, #FBAC3D 84.52%, #8FC43E 100%);
	background: -moz-linear-gradient(left, #FE0002 0%, #F70E39 31.8%, #ED1E78 61.44%, #FBAC3D 84.52%, #8FC43E 100%);
	background: -o-linear-gradient(left, #FE0002 0%, #F70E39 31.8%, #ED1E78 61.44%, #FBAC3D 84.52%, #8FC43E 100%);
	background: linear-gradient(90deg, #FE0002 0%, #F70E39 31.8%, #ED1E78 61.44%, #FBAC3D 84.52%, #8FC43E 100%);
	top: 0;
	left: 0;
}
.main__news-date span {
	display: block;
}
.main__news-wrap {
	margin: -10px 0;
}
.main__news-wrapitem {
	width: 33.33%;
	padding: 10px;
}
.main__news-item {
	display: block;
	padding: 0 26px 25px;
	font-family: Montserrat;
}
.main__news-item:hover {
	text-decoration: none;
	-webkit-box-shadow: 0px 33px 133px rgba(18, 24, 39, 0.05), 0px 13.7866px 55.5642px rgba(18, 24, 39, 0.0359427), 0px 7.37098px 29.7073px rgba(18, 24, 39, 0.0298054), 0px 4.13211px 16.6537px rgba(18, 24, 39, 0.025), 0px 2.19453px 8.84464px rgba(18, 24, 39, 0.0201946), 0px 0.913195px 3.68045px rgba(18, 24, 39, 0.0140573);
	   -moz-box-shadow: 0px 33px 133px rgba(18, 24, 39, 0.05), 0px 13.7866px 55.5642px rgba(18, 24, 39, 0.0359427), 0px 7.37098px 29.7073px rgba(18, 24, 39, 0.0298054), 0px 4.13211px 16.6537px rgba(18, 24, 39, 0.025), 0px 2.19453px 8.84464px rgba(18, 24, 39, 0.0201946), 0px 0.913195px 3.68045px rgba(18, 24, 39, 0.0140573);
	        box-shadow: 0px 33px 133px rgba(18, 24, 39, 0.05), 0px 13.7866px 55.5642px rgba(18, 24, 39, 0.0359427), 0px 7.37098px 29.7073px rgba(18, 24, 39, 0.0298054), 0px 4.13211px 16.6537px rgba(18, 24, 39, 0.025), 0px 2.19453px 8.84464px rgba(18, 24, 39, 0.0201946), 0px 0.913195px 3.68045px rgba(18, 24, 39, 0.0140573);
}
.main__news-item:hover .main__news-title {
	text-decoration: underline;
}
.main__news-item:hover .main__news-tag {
	color: #FE0002;
}
.main__news-item span {
	display: block;
}
.main__news-img {
	height: 180px;
	overflow: hidden;
	position: relative;
}
.main__news-img img {
	display: block;
	width: 100%;
	height: auto;
}
.main__news-img span {
	position: absolute;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #F8F8F8;
	padding: 5px 20px;
	top: 0;
	left: 0;
	background: #98C23E;
}
.main__news-info {
	padding-top: 15px;
}
.main__news-title {
	font-weight: 500;
	line-height: 20px;
	margin-bottom: 8px;
}
.main__news-meta {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #828282;
	padding-left: 30px;
	position: relative;
	margin-bottom: 18px;
}
.main__news-meta::before {
	content: '';
	display: block;
	position: absolute;
	width: 18px;
	height: 20px;
	background: url('../img/svg/calendar.svg') no-repeat 0 0 / cover;
	top: 0;
	left: 0;
}
.main__news-tag {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 500;
	color: #4F4F4F;
}
.main__movie {
	padding: 67px 0 80px;
	background: #F8F8F8;
}
.main__movie .title-l {
	margin-bottom: 40px;
}
.slider-wrap {
	position: relative;
}
.main__movie-wrap {
	margin: 0 -10px;
}
.main__movie-wrapitem {
	width: 25%;
	padding: 0 10px;
}
.main__movie-item {
	background: #fff;
}
.main__movie-link,
.main__movie-link span {
	display: block;
}
.main__movie-img {
	height: 390px;
	overflow: hidden;
	margin-bottom: 13px;
}
.main__movie-img img {
	width: 100%;
	height: 100%;
	display: block;
	-webkit-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	transition: all 0.6s ease;
	-o-object-fit: cover;
	   object-fit: cover;
}
.main__movie-item:hover .main__movie-img img {
    -webkit-transform: rotate(-10deg) scale(1.25);
       -moz-transform: rotate(-10deg) scale(1.25);
        -ms-transform: rotate(-10deg) scale(1.25);
         -o-transform: rotate(-10deg) scale(1.25);
            transform: rotate(-10deg) scale(1.25);
}
.main__movie-title {
	padding: 0 20px 0 15px;
	font-family: Montserrat;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	color: #333;
	margin-bottom: 4px;
	-webkit-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
.main__movie-tags {
	margin-bottom: 13px;
	font-size: 13px;
	line-height: 120%;
	color: #828282;
	padding: 0 20px 0 15px;
}
.main__movie-times {
	padding: 0 20px 0 15px;
}
.main__movie-time {
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #333333;
	padding: 5px 10.5px;
}
.main__movie-link:hover {
	text-decoration: none !important;
}
.main__movie-item:hover .main__movie-title {
	color: #FE0002;
	text-decoration: underline;
}
.slider__arrow {
	border: 2px solid #FE0002;
	width: 50px;
	height: 50px;
	top: 50%;
	z-index: 7;
	cursor: pointer;
	position: absolute;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.slider__arrow svg {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.slider__arrow:hover {
	background: #FE0002;
}
.slider__arrow svg path {
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.slider__arrow:hover svg path {
	fill: #fff;
}
.slider__arrow-prev {
    left: -50px !important;
}
.slider__arrow-prev:hover svg {
	right: 21px;
}
.slider__arrow-prev svg {
	right: -10px;
}
.slider__arrow-next {
    right: -50px !important;
}
.slider__arrow-next:hover svg {
	left: 21px;
}
.slider__arrow-next svg {
	left: -10px;
}
.recomend {
	padding: 67px 0 30px;
}
.recomend__wrap {
	margin: -10px -20px;
}
.recomend__wrapitem {
	width: 25%;
	padding: 10px 20px;
}
.recomend__item {
	display: block;
	position: relative;
}
.recomend__item span {
	display: block;
}
.recomend__img {
	padding: 40px 0;
	height: 323px;
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.recomend__img img {
	width: 100%;
	height: auto;
	display: block;
}
.recomend__info {
	background: #FFFFFF;
	padding: 13px 16px 17px;
    -webkit-box-shadow: 0px 16px 20px rgb(18 24 39 / 5%);
       -moz-box-shadow: 0px 16px 20px rgb(18 24 39 / 5%);
            box-shadow: 0px 16px 20px rgb(18 24 39 / 5%);
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}
.recomend__title {
	font-family: Montserrat;
	font-weight: 600;
	font-size: 18px;
	line-height: 120%;
	text-transform: uppercase;
	color: #333;
}
.recomend__flore {
	font-weight: 600;
	font-size: 14px;
	line-height: 120%;
	color: #828282;
}
.recomend__txt {
	display: none !important;
	font-size: 12px;
	line-height: 120%;
	color: #4F4F4F
}
.recomend__item:hover {
	text-decoration: none;
}
.recomend__item:hover .recomend__title {
	-webkit-text-decoration-line: underline;
	   -moz-text-decoration-line: underline;
	        text-decoration-line: underline;
	color: #FE0002;
}
.recomend__item:hover .recomend__txt {
	display: block !important;
	margin-top: 6px;
}
.recomend__item:hover .recomend__info {
	position: absolute;
	bottom: -50px;
}
.recomend .slick-slider .slick-list {
	padding-bottom: 50px;
}
.recomend__item:hover .recomend__img img {
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}
.foot__ban img {
	width: 100%;
	height: auto;
	display: block;
}
.footer {
	padding-top: 25px;
	background: #F2F2F2;
}
.footer__wrap {
	position: relative;
}
.footer__wrap:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 5px;
	background: -webkit-gradient(linear, left top, right top, from(#FE0002), color-stop(31.8%, #F70E39), color-stop(61.44%, #ED1E78), color-stop(84.52%, #FBAC3D), to(#8FC43E));
	background: -webkit-linear-gradient(left, #FE0002 0%, #F70E39 31.8%, #ED1E78 61.44%, #FBAC3D 84.52%, #8FC43E 100%);
	background: -moz-linear-gradient(left, #FE0002 0%, #F70E39 31.8%, #ED1E78 61.44%, #FBAC3D 84.52%, #8FC43E 100%);
	background: -o-linear-gradient(left, #FE0002 0%, #F70E39 31.8%, #ED1E78 61.44%, #FBAC3D 84.52%, #8FC43E 100%);
	background: linear-gradient(90deg, #FE0002 0%, #F70E39 31.8%, #ED1E78 61.44%, #FBAC3D 84.52%, #8FC43E 100%);
}
.footer__top {
	padding-bottom: 34px;
}
.footer__left .logo {
	margin-bottom: 30px;
	display: inline-block;
}
.footer__contact {
	font-size: 13px;
	line-height: 20px;
}
.footer__contact svg {
	margin-right: 7px;
}
.footer__contact:not(:last-child) {
	margin-bottom: 16px;
}
.footer__nav,
.footer__soc {
	padding-top: 47px;
}
.footer__nav {
	width: 40%;
}
.footer__title {
	font-family: Montserrat;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #333;
	margin-bottom: 10px;
	display: block;
	text-transform: uppercase;
}
.footer__menu ul li a {
	font-size: 14px;
	line-height: 150%;
	color: #333;
}
.footer__menu ul li:not(:last-child) {
	margin-bottom: 6px;
}
.footer__soc-item {
	display: block;
}
.footer__soc-item:not(:last-child) {
	margin-right: 18px;
}
.footer__soc-item:hover {
	opacity: 0.6;
}
.footer__bottom {
	padding: 16px 0 11px;
}
.footer__bottom p,
.footer__bottom a {
	font-family: Roboto;
	font-weight: 500;
	font-size: 12px;
	line-height: 150%;
	color: #333;
}
.footer__wrap .container {
	position: relative;
}
.footer__arrow {
	position: absolute;
	width: 60px;
	height: 60px;
	top: 75px;
	right: -120px;
	background: #F2F2F2;
	-webkit-box-shadow: 0px 33px 133px rgba(18, 24, 39, 0.05), 0px 13.7866px 55.5642px rgba(18, 24, 39, 0.0359427), 0px 7.37098px 29.7073px rgba(18, 24, 39, 0.0298054), 0px 4.13211px 16.6537px rgba(18, 24, 39, 0.025), 0px 2.19453px 8.84464px rgba(18, 24, 39, 0.0201946), 0px 0.913195px 3.68045px rgba(18, 24, 39, 0.0140573);
	-moz-box-shadow: 0px 33px 133px rgba(18, 24, 39, 0.05), 0px 13.7866px 55.5642px rgba(18, 24, 39, 0.0359427), 0px 7.37098px 29.7073px rgba(18, 24, 39, 0.0298054), 0px 4.13211px 16.6537px rgba(18, 24, 39, 0.025), 0px 2.19453px 8.84464px rgba(18, 24, 39, 0.0201946), 0px 0.913195px 3.68045px rgba(18, 24, 39, 0.0140573);
			box-shadow: 0px 33px 133px rgba(18, 24, 39, 0.05), 0px 13.7866px 55.5642px rgba(18, 24, 39, 0.0359427), 0px 7.37098px 29.7073px rgba(18, 24, 39, 0.0298054), 0px 4.13211px 16.6537px rgba(18, 24, 39, 0.025), 0px 2.19453px 8.84464px rgba(18, 24, 39, 0.0201946), 0px 0.913195px 3.68045px rgba(18, 24, 39, 0.0140573);
}
.footer__arrow:hover {
	background: #fff;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

.shops {
	padding: 40px 0 80px;
}
.shops__top {
	margin-bottom: 30px;
}
.shops__top-wrap {
	position: relative;
	width: 274px;
}
.shops__top-wrap:not(:last-child) {
	margin-right: 20px;
}
.shops__input {
	padding: 13px 15px;
	font-family: Open Sans;
	font-style: italic;
	font-size: 16px;
	line-height: 22px;
	color: #4F4F4F;
	width: 100%;
	border: 1px solid #828282;
}
.shops__input::-webkit-input-placeholder {
	font-size: 16px;
	line-height: 22px;
	color: #4F4F4F;
}
.shops__input:-moz-placeholder {
	font-size: 16px;
	line-height: 22px;
	color: #4F4F4F;
}
.shops__input::-moz-placeholder {
	font-size: 16px;
	line-height: 22px;
	color: #4F4F4F;
}
.shops__input:-ms-input-placeholder {
	font-size: 16px;
	line-height: 22px;
	color: #4F4F4F;
}
.shops__input::-ms-input-placeholder {
	font-size: 16px;
	line-height: 22px;
	color: #4F4F4F;
}
.shops__input::placeholder {
	font-size: 16px;
	line-height: 22px;
	color: #4F4F4F;
}
.shops .select2-container--default .select2-selection--single {
    border: 1px solid #828282 !important;
	height: 50px !important;
    -webkit-border-radius: 0px !important;
       -moz-border-radius: 0px !important;
            border-radius: 0px !important;
}
.shops .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 50px !important;
	font-family: Montserrat;
	font-size: 16px;
	padding: 0 40px 0 10px !important;
}
.shops .select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: #333 !important;
}
.shops .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 50px !important;
	right: 20px !important;
}
.shops .select2-container--default .select2-selection--single .select2-selection__arrow b,
.shops .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: #FE0002 transparent transparent transparent;
    border-width: 6px 6px 0 6px;
}
.shops .select2-results__option {
    padding: 9px 0 9px 20px;
    font-size: 16px;
}
.shops .select2-container--open.select2-container--default .select2-selection--single {
	border-bottom: 0px solid transparent !important;
}
.shops .select2-dropdown {
	padding-bottom: 17px;
	-webkit-box-shadow: 5px 5px 20px rgb(0 0 0 / 15%);
	   -moz-box-shadow: 5px 5px 20px rgb(0 0 0 / 15%);
	        box-shadow: 5px 5px 20px rgb(0 0 0 / 15%);
	border: 1px solid #828282 !important;
	border-top-color: transparent !important;
	border-top-width: 0;
	-webkit-animation: select 0.3s linear;
	   -moz-animation: select 0.3s linear;
	     -o-animation: select 0.3s linear;
	        animation: select 0.3s linear;
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
	        border-radius: 0 !important;
}
.shops .select2-container--default .select2-results>.select2-results__options {
	max-height: 153px;
}
::-webkit-scrollbar-button {
	background-image:url('');
	background-repeat:no-repeat;
	width:11px;
	height:0px
	}
	
::-webkit-scrollbar-track {
	background-color: #BDBDBD
}
	
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color:#BC1622;
}
	
::-webkit-scrollbar-thumb:hover{
	background-color:#BC1622;
}
	
::-webkit-resizer{
	background-image:url('');
	background-repeat:no-repeat;
	width:4px;
	height:0px
}
	
::-webkit-scrollbar{
	width: 4px;
}
.select2-results {
	padding-right: 12px;
}
@-webkit-keyframes select {
	0% {
		opacity: 0.2;
		margin-top: -153px;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
	100% {
		opacity: 1;
		margin-top: 0;
		-webkit-box-shadow: 5px 5px 20px rgb(0 0 0 / 15%);
		        box-shadow: 5px 5px 20px rgb(0 0 0 / 15%);
	}
}
@-moz-keyframes select {
	0% {
		opacity: 0.2;
		margin-top: -153px;
		-moz-box-shadow: none;
		     box-shadow: none;
	}
	100% {
		opacity: 1;
		margin-top: 0;
		-moz-box-shadow: 5px 5px 20px rgb(0 0 0 / 15%);
		     box-shadow: 5px 5px 20px rgb(0 0 0 / 15%);
	}
}
@-o-keyframes select {
	0% {
		opacity: 0.2;
		margin-top: -153px;
		box-shadow: none;
	}
	100% {
		opacity: 1;
		margin-top: 0;
		box-shadow: 5px 5px 20px rgb(0 0 0 / 15%);
	}
}
@keyframes select {
	0% {
		opacity: 0.2;
		margin-top: -153px;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		        box-shadow: none;
	}
	100% {
		opacity: 1;
		margin-top: 0;
		-webkit-box-shadow: 5px 5px 20px rgb(0 0 0 / 15%);
		   -moz-box-shadow: 5px 5px 20px rgb(0 0 0 / 15%);
		        box-shadow: 5px 5px 20px rgb(0 0 0 / 15%);
	}
}
.select2-container {
	z-index: 4;
}
.select2-container.select2-container--below {
	z-index: 5;
}
.shops__top-inpwrap {
	position: relative;
}
.shops__top-inpwrap:after {
	content: '';
	display: block;
	position: absolute;
	width: 24px;
	height: 24px;
	top: 0;
	right: 15px;
	bottom: 0;
	margin: auto 0;
	background: url('../img/svg/search.svg') no-repeat 0 0 / cover;
}
.shops__top .main__news-cat li {
	padding: 10px 30px;
	text-transform: none;
}

.entertain {
	padding-bottom: 100px;
}
.entertain__item {
	padding: 40px 0 60px;
}
.entertain__item:nth-child(2n+2) {
	background: #F8F8F8;
}
.entertain__item:nth-child(2n+2) .container {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: row-reverse;
	   -moz-box-orient: horizontal;
	   -moz-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}
.entertain__left {
	width: 44%;
}
.entertain__right {
	width: 51%;
	margin: -5px -10px;	
}
.entertain__imgwrap {
	display: block;
	padding: 5px 10px;
	width: 33.33%;
}
.entertain__imgwrap:nth-child(1) {
	width: 100%;
}
.entertain__imgwrap img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.entertain__logo {
	margin-bottom: 20px;
}
.entertain__info {
	margin-bottom: 55px;
	max-width: 468px;
}
.entertain__info ul li:not(:last-child) {
	margin-bottom: 5px;
}
.entertain__cont-item svg {
	margin-right: 7px;
}
.entertain__cont-item:not(:last-child) {
	margin-right: 52px;
}
.entertain__cont {
	margin-bottom: 54px;
}
.eat-item {
	padding: 32px 0 94px;
}
.eat-item__left {
	width: 274px;
}
.eat-item__right {
	max-width: 862px;
	width: 80%;
}
.eat-item__logo {
	margin-bottom: 52px;
}
.eat-item__contitem svg {
	margin-right: 7px;
}
.eat-item__contitem {
	font-size: 16px;
	line-height: 150%;
	color: #333;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 100%;
}
.eat-item__contitem:not(:last-child) {
	margin-bottom: 14px;
}
.eat-item__cont {
	margin-bottom: 36px;
}
.eat-item__btns .btn {
	width: 100%;
	display: block;
}
.eat-item__btns .btn:not(:last-child) {
	margin-bottom: 20px;
}
.eat-item__imgwrap {
	height: 538px;
}
.eat-item__imgwrap img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.eat-item__wrap .slider__arrow {
	background: transparent;
	border-color: #fff;
}
.eat-item__wrap .slider__arrow-prev {
	left: 10px !important;
}
.eat-item__wrap .slider__arrow-next {
	right: 10px !important;
}
.eat-item__wrap .slider__arrow:hover {
	background: #fe0002;
}
.eat-item__slider {
	margin-bottom: 40px;
}
.eat-item__info {
	color: #000;
	max-width: 826px;
}
.zoom {
	padding: 66px 0 90px;
}
.zoom .title-l {
	max-width: unset;
	margin-bottom: 41px;
}
.zoom__wrap {
	margin: -15px -10px 75px;
}
.zoom__wrap .main__movie-wrapitem {
	padding: 15px 10px;
}
.zoom__card {
	width: 23%;
}
.zoom__card svg {
	margin-bottom: 14px;
}
.zoom__card-title {
	font-family: Montserrat;
	font-weight: 500;
	color: #000000;
}
.zoom__card p {
	font-size: 13px;
	line-height: 150%;
	color: #4F4F4F;
}
.zoom__cards {
	margin: 54px 0;
}
.zoom-info__photos {
	margin: -10px;
}
.zoom-info__photo {
	width: 33.33%;
	padding: 10px;
}